@import url('./index.css');

body {
  background: var(--color-darkgrey);
  color: var(--color-white);
  margin: 0;
}

h1 {
  font-size: 20px;
  margin: 15px 0;
}

p {
  margin: 0;
  padding: 12px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 14px 0;
}

form {
  text-align: center;
}

input,
button {
  border: 1px solid var(--color-black);
  padding: 6px;
}

button {
  width: 55px;
}

input {
  border-radius: 2px;
  box-shadow: none;
}

input:focus {
  outline: none;
}

textarea {
  box-sizing: border-box;
  display: block;
  padding: 4px;
  width: 100%;
}
