@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px; }

h1 {
  font-size: 5em;
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

#top {
  position: absolute;
  background: #527F60;
  height: 6em;
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
  left: 12.5em;
  right: 0; }

#top h1 {
  display: inline-block;
  text-transform: uppercase; }

#sidebar {
  position: absolute;
  width: 12.5em;
  background: black;
  color: white;
  top: 0;
  left: 0;
  bottom: 0; }

.mainContentArea {
  position: absolute;
  background: #79BD8F;
  top: 6em;
  left: 12.5em;
  right: 0;
  bottom: 0; }

.addTune {
  position: fixed;
  top: 0; }

.tune {
  font-size: 2em;
  padding: 2em .5em; }

.remove-tune {
  float: right; }

#tune-modal {
  background: lightblue;
  width: 300px;
  height: 100px;
  position: fixed;
  text-align: center;
  left: 50%;
  margin-left: -150px;
  top: 20%; }
