.root {
  line-height: 24px;
  position: absolute;
  width: 12.5em;
  background: black;
  color: white;
  top: 0;
  left: 0;
  bottom: 0; 
}

.title {
  color: white;
  height: 49px;
  margin-top: 23px;
  text-align: center;
}

.link {
  color: white;
}
