<!doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/normalize.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">  
  </head>
  <body>
    <div id="container">Loading...</div>
    <script type="text/javascript" src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/babel" src="/javascripts/app.jsx"></script>
  </body> 
</html>
