/* sass goes here */

body {
  margin: 0;
}

#topbar {
  background: grey;
  text-align: center;
}

#sidebar {
  width: 150px;
  height: 100vh;
  background: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
}

.tune {
  margin-left: 150px;
  padding: 0;
}
