@import url('../styles/index.css');

.header {
  display: flex;
}

.header h1 {
  display: inline-block;
}

.showModalButton {
  align-self: center;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}
