/* sass goes here */

body {
  margin: 0;
}

#top {
  position: absolute;
  background: grey;
  height: 80px;
  text-align: center;
  left: 150px;
  right: 0;
}

#sidebar {
  position: absolute;
  width: 150px;
  background: lightgrey;
  top: 0;
  left: 0;
  bottom: 0;
}

#tunesList {
  position: absolute;
  background: red;
  top: 80px;
  left: 150px;
  right: 0;
  bottom: 0;
}

#tune-modal {
  background: lightblue;
  width: 300px;
  height: 100px;
  position: fixed;
  text-align: center;
  left: 50%;
  margin-left: -150px;
  top: 20%;
}
